KERNEL=="AC", SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/opt/pm-utils/custom-mode.sh true"
KERNEL=="AC", SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/opt/pm-utils/custom-mode.sh false"